/* Start coding here */
.container {
  height: 100vh;
  padding: 50px 50px;
  background-color: lightgrey;
}
.box-1 {
  height: 25%;
  background-color: orange;
}
.box-2 {
  height: 25%;
  background-color: khaki;
}
.box-3 {
  height: 50%;
  background-color: cornflowerblue;
}
